<!--Content Section-->
<div id="about" class="scrollto clearfix">

    <div class="row no-padding-bottom clearfix">


        <!--Content Left Side-->
        <div class="col-3">
            <img src="./assets/images/hockey1.JPG" alt="Hockey"/>
            <img src="./assets/images/IMG_6945.jpg" alt="Racing at PPIR"/>
            <p></p>
                <footer></footer>
            
            

        </div>
        <!--End Content Left Side-->

        <!--Content of the Right Side-->
        <div class="col-3">
            <div class="section-heading">
                
                <h2 class="section-title">About Me</h2>
                <p class="section-subtitle">I am a High School Senior at Green Mountain High School, and will graduate as a part of class of 2024. I also am a student at Warren Tech Central, taking Computer Science under Dr. Bill Heldman.</p>
            </div>
            <p>
                I enjoy playing hockey, racing my car, and playing video games with my friends. I played both varsity defense and offense for Dakota Ridge High School during my high school hockey career. I race my 1998 Mazda Mx-5 Roadster in SCCA Autocross. I usually play FPS video games with my friends, often times Apex Legends or CS2. There was a period of time where I competed in the Vail VR IVRL Pro League, under various banners.
            </p>
            <p>
                
            </p>
            
        </div>
        <!--End Content Right Side-->

        <div class="col-3">
            <img src="./assets/images/carinleaves.JPG" alt="Sitting on car in autumn"/>
        </div>

    </div>


</div>
<!--End of Content Section-->