  <!--Introduction-->
  <section id="services" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <h3>CERTIFICATIONS</h3>
                <h2 class="section-title">Here's the Certifications I have aquired</h2>
                <p class="section-subtitle">CompTIA A+</p>
                <p class="section-subtitle">CompTIA Network+</p>
                <p class="section-subtitle">AWS Certified Cloud Practitioner</p>
                <p class="section-subtitle">Python Institute PCEP</p>
            </div>

        </div>

        <div class="col-2-3">

            <!--Icon Block-->
            <div class="col-3 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Icon-->
                <!--div class="icon">
                    <i class="fa fa-html5 fa-2x"></i>
                </div-->
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>CompTIA A+</h4>
                    <img class="circle_badge" src="./assets/images/user-images/CompTIA_A_2Bce.png" alt="CompTIA A+ Badge"/>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-3 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                <!--Icon-->
                <!--div class="icon">
                    <i class="fa fa-bolt fa-2x"></i>
                </div-->
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>CompTIA Network+</h4>
                    <img class="circle_badge" src="./assets/images/user-images/CompTIA_Network_2Bce.png" alt="CompTIA Network+ Badge"/>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <!--div class="icon">
                    <i class="fa fa-tablet fa-2x"></i>
                </div-->
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>AWS Certified Cloud Practitioner</h4>
                    <img class="circle_badge" src="./assets/images/user-images/AWSCCP.png" alt="AWS CCP Badge"/>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-3 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <!--div class="icon">
                    <i class="fa fa-rocket fa-2x"></i>
                </div-->
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Python PCEP</h4>
                    <img class="circle_badge" src="./assets/images/user-images/PCEP.png" alt="PCEP Badge"/>
                </div>
            </div>
            <!--End of Icon Block-->

        </div>

    </div>


</section>
<!--End of Introduction--> 
