<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">
  
        <div class="col-38">
  
            <div class="section-heading">
                <h1>Ruby Goodpasture</h1>
                <h2>Car Enthusiast, Ameteur Racing Driver, Gamer, Future Software Dev</h2>
            </div>
            
  
            <!--Call to Action-->
            <!--a href="#" class="button"></a-->
            <!--End Call to Action-->
  
        </div>
        <div class="col-39">
            <img src="./assets/images/banner-images/portrait.jpg" alt="Portrait">
        </div>
  
    </div><!--End of Row-->
  </header>