/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
:root {
  --primary-color: #000000;
  --secondary-color: #48ff00;
  --accent-color: #38aeb6;
  --shadow-color: #001b35;
}

button.primary {
  padding: 4px;
  border: solid 3px var(--primary-color);
  background: 0,0,0;
  color: var(--secondary-color);
  border-radius: 10px;
}
